.contact-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top-controls {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    button {
        place-self: start;
        display: flex;
        align-items: center;
        // margin-top: 1rem;

        img {
            width: 26px;
        }
    }
}