<section *ngIf="contact" class="contact-details">
    <button title="Back" (click)="onBack()">
        <img src="https://res.cloudinary.com/dollaguij/image/upload/v1700645562/back_gtwwvx.png" alt="">
    </button>
    <img src="https://robohash.org/{{contact._id}}?set=set5" alt="">
    <h1>{{contact.name}}</h1>
    <div class="contact-info">
        <p>Email: <span>{{contact.email}}</span></p>
        <p>Phone: <span>{{contact.phone}}</span></p>
    </div>
    <button class="edit-btn" [routerLink]="['/edit', contact._id]">
        <img title="Edit Contact" src="https://res.cloudinary.com/dollaguij/image/upload/v1700645562/edit_efgtou.png" alt="">
    </button>
</section>