body {
    box-sizing: border-box;
    background-color: rgb(35, 123, 94);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: rgb(94, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    color: rgb(64, 217, 217);
    padding: .5rem;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid rgb(206, 206, 206);
    margin-block: .5rem;

    &:hover {
        cursor: pointer;
        color: rgb(157, 248, 248);
        background-color: rgb(54, 159, 124);

    }
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 85, 65);
    text-decoration: none;
    transition: scale 200ms;

    &.active {
        color: darken($color: rgb(25, 85, 65), $amount: 10%);
        font-weight: bold;
    }

    &:hover {
        scale: 1.05;
    }
}